.table {
    border-color: lightgray;
    text-align: center;
    width: 500px;
}

.first-row {
    width: 20px;
    overflow: hidden;
    word-break: break-all;
}

.h1 {
    font-weight: 400;
}

.h3 {
    font-weight: 400;
}